
camera {
  location <0.0, 3.0, 6.0>
  look_at <0.0, 3.0, 5.0>
}

background { rgb <0.25, 0.6, 0.95> }

light_source { <1.0, 45.0, 0.0>, rgb <1.0, 1.0, 1.0> }

sphere
{ <0.0,3.0,2.0>,1.0
  finish
  {
    ambient 0.2
    phong 0.9
    phong_size 40.0
  }
  interior
  {
    ior 1.01
  }
}

polygon {
  4, <4.0, 0.0, 2>, <4.0, 0.0, 50.0>, <12.0, 0.0, 50.0>, <12.0, 0.0, 2.0>
  finish {
    ambient 0.2
    reflection 0.1
    phong 1.0
  }
}

sphere {
  <2.0, 2.0, 2.0>, 1.0
  pigment { rgb <1.0, 1.0, 1.0> }
  finish {
    ambient 0.2
    reflection 0.1
    phong 1.0
  }
}
